body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    background: linear-gradient(to right, var(--col1), var(--col2));
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

main{
    background: yellowgreen;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: currentColor;
    text-decoration: none;
}

.navbar{
    height: 70px;
    width: 100%;
    background: linear-gradient(to right, var(--col1), var(--col2));
    color: var(--text);
}

.navbar-nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

header{
    color: black;
    padding: 1rem;
    background: var(--header);
    margin-bottom: 1rem;
    padding-bottom: 3.5rem;
    text-align: center;
}

.dropdown{
    position: absolute;
    width: 250px;
    opacity: 0;
    z-index: 2;
    background: var(--blue);
    color: white;
    border-top: 2px solid hotpink;
    border-left: 2px solid yellow;

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
    transition: opacity 0.15s ease-out;
}

.has-dropdown:focus-within .dropdown   {
    opacity: 1;
    pointer-events: auto;
}

:root{
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: blue;
    --purple: purple;
    --yellow: yellow;
}

.light{
    --bg: var(--gray0);
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --header: aquamarine;
    --col1: var(--gray1);
    --col2: var(--gray3);
}

.dark{
    --bg: var(--gray5);    
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --header: var(--yellow);
    --col1: var(--gray3);
    --col2: var(--gray6);
}